version: '3.8'

services:

  mongodb:
    image: mongo:latest
    container_name: legal-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db


  qdrant:
    image: qdrant/qdrant:latest
    container_name: legal-qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  mongo_data:
  qdrant_data: